.card {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__box {
        height: 280px;
        width: 175px;
        margin:3rem;

        &--img {
            width: 100%;
            height: 100%;
            display:flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }

        &--title {
            color:#fff;
        }
    }
}


.search-results {
    width:96%;
    height:88vh;
    color:black;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1% 0 1% 2%;
    border-radius:10px;

    &__close {
        margin-top:1rem;
        margin-left:3rem;

        & a:hover {
            color:darkred;
        }
    }

    &__pagination {
        margin-top:-30px;
    }

    
}

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;

}

 .pagination li { 
    list-style: none;
    margin:3px;
}

.pagination a {
  font-weight: 300;
  padding-top: 1px;
  text-decoration:none;  
  //border: 1px solid rgba(0,0,0,.25);
  //border-left-width: 0;
  min-width:44px;
  min-height:44px;
  color: rgba(255,255,255,.85);  
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35);
}
