.footer {
    background-color:rgba(0, 0, 0, 0.2);
    height: 35vh;
    padding-top:4rem;

    &__desc {
        height: 5rem;
        display: flex;
        align-items: center;
        margin-left: 10rem;

        &--link:first-child {
            padding-left:2rem;
        }

        &--link:not(:first-child) {
            padding-left:1rem;
        }

        &--img {
            position: absolute;
            left: 80rem;
            bottom: -113rem;
        }
    }
}

img {
    height:7rem;
}