.movies {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color:white;
    letter-spacing:1.3px;

    &__header {
        border: rebeccapurple 3px solid;
        border-radius: 5px;
        padding: 10px 305px 10px 305px;
    }
}

.tvShows {
    display: flex;
    justify-content: center;
    color:white;
    letter-spacing:1.3px;

    &__header {
        border: rebeccapurple 3px solid;
        border-radius: 5px;
        padding: 10px 305px 10px 305px;
    }
}