.header {
   // position:absolute;
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:2em;
    box-shadow: inset 0 0 100px 30px rgba(0, 0, 0, 0.8);

    &__description {
        height:100%;
        width:100%;
        display:flex;
        align-items:flex-end;
        padding: 0 0 5% 10%;
        color:rgba(255, 255, 255, 0.8);

        &--img {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            height: 280px;
            width: 175px;
        }

        &--description {
            height: 280px;
            width: 30%;
            margin-left: 50px;
        }

        &--stars {
            color:orange;
        }

        &--rating {
            margin-left:10px;
        }

        &--genres {
            margin-top: 10px;
            
            &:not(:last-child) {
                padding-right: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

.body {
    &__overview {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        height: 40vh;
        padding-left: 30rem;
        padding-right: 30rem;
        line-height: 1.8;
    }
}
