.movie-list {
       display: flex;
       justify-content: flex-start;
       flex-direction: row;
       flex-wrap: wrap;
       height: 80vh;
       margin: 9rem;

    &__card {
        display: flex;
        height: 280px;
        width: 175px;
        margin: 2.6rem;

        &--img {
            height:100%;
            width:100%;
            display:flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            color:white;
        }
    }



}