<section class="movie-list">
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
  <div class="movie-list__card">
    <div class="movie-list__img" >
      <span class="movie-list__title"></span>
    </div>
  </div>
</section>
