.movie-list {
       height: 80vh;

    &__heading {
        padding-left: 86px;
        padding-top: 2rem;
        color:white;
    }

    &__movie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        display: flex;
        height: 280px;
        width: 175px;
        margin: 1rem 2.6rem 1rem 2.6rem;
        border:3px solid rebeccapurple;

        &--img {
            height:100%;
            width:100%;
            display:flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            color:white;
        }
    }



}
.border {
    height:10%;
    width:100%;
}

.line {
    background-image: linear-gradient(to right, hsla(279, 29%, 9%, 1),hsla(279, 29%, 9%, 1), white,hsla(279, 29%, 9%, 1),  hsla(279, 29%, 9%, 1));
    height: 1.1%;
    margin-top:3rem;
    box-shadow: 0 0 100px 30px rgba(0, 0, 0, 0.8);
}