
.body {
    &__overview {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        height: 40vh;
        padding-left: 30rem;
        padding-right: 30rem;
        line-height: 1.8;
    }
}
